*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
}

#telefone, #formulario{
    width: 400px;
}

#telefone img{
    position: relative;
    left: 50%;
    transform: translate(-50%);
    width: 300px;
}

#formulario{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
#formulario > img{
    width: 200px;
}
#formulario a{
    margin-top: 10px;
}
#formulario a img{
    width: 16px;
}

#login{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    width: 100%;
    height: 70%;
    padding: 40px 10px 10px 10px;
}
#login input{
    width: 85%;
    height: 40px;
    margin: 6px;
    outline: 0;
    border: 1px solid #ccc;
    padding: 0 5px;
}

button{
    width: 85%;
    height: 40px;
    margin: 6px;
    border: none;
    color: white;
    background-color: rgb(0, 153, 255);
    font-weight: bold;
}

#cadastrar{
    width: 100%;
    height: 10%;
    border: 1px solid #ccc;
}
#cadastrar p{
    position: relative;
    top: 50%;
    transform: translate(0, -50%);
    text-align: center;
}

a{
    text-decoration: none;
}


#baixar{
    text-align: center;
    width: 400px;
}
#baixar > div{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.baixar{
    width: 130px;
}